@import url('./__clients/page__clients.css');

.page {
  margin: 0px 16px;
}

@media (min-width: 600px) {
  .page {
    margin: 0px 40px;
  }
}

@media (min-width: 1440px) {
.page {
    max-width: 1232px;
    margin: 0px auto;
}
}
