.author__image {
  width: 272px;
  margin: 0 auto;
  margin-top: 32px;
}

@media (min-width: 600px) {
  .author__image {
    width: 100%;
    margin-top: 0;
  }
  }

  @media (min-width: 900px) {
  .author__image {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

