.header__container {
  min-width: 320px;
  max-width: 1232px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .header__container {
      padding: 22px 40px;
  }
}

@media (min-width: 1440px) {
.header__container {
    padding: 28px 0px;
}
}
