.swiper__button-prev {
  display: none;
  cursor: pointer;
}

.swiper__button-prev:focus {
  outline: none;
}

@media (min-width: 1440px) {
  .swiper__button-prev {
    position: absolute;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #1A1B22;
    border: none;
    border-radius: 100%;
    background-size: 8px 13px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
  }

  .swiper__button-prev {
    background-image: url('../../../images/left_arrow.svg');
    left: 24px;
    right: auto;
  }
}
