.github__button {
  width: 90%;
  border: 1px solid #1A1B22;
  box-sizing: border-box;
  border-radius: 80px;
  height: 56px;
  background-color: transparent;
  margin-bottom: 32px;
}

.github__button:focus{
  outline: none;
}

.github__button:active:focus{
  background-color: #fff;
}
