.graph__quantity {
  background-color: #2F71E5;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  color: #fff;
  font-weight: bold;
  padding-left: 6px;
}
