.background {
  width: 100%;
  min-height: 400px;
  background-image: url('../../images/screen.png');
  background-size: cover;
}

@media (max-width: 450px) {
  .background {
    background-image: url('../../images/screen_mobile.png');
  }
}
