.footer__socmedia-link:first-child {
margin-left: 35px;
transition: opacity 0.2s ease;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer__socmedia-link:hover{
  opacity: .8;
}

@media (min-width: 600px) {
  .footer__socmedia-links {
    padding-top: 0;
    margin-left: 0;
  }
  .footer__socmedia-link:first-child{
    margin-right: 25px;
  }
}


