.github__container {
  max-width: 1232px;
  width: 90%;
  padding-top: 32px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .github__container{
    padding-top: 40px;
    padding-bottom: 32px;
  }
}

@media (min-width: 1440px) {
  .github__container{
    padding-top: 72px;
    padding-bottom: 64px;
  }
}
