@import url('./__container/github__container.css');
@import url('./__content-title/github__content-title.css');
@import url('./__link/github__link.css');
@import url('./__link-btn/github__link-btn.css');


.github {
  font-family: "Roboto regular", Arial, Helvetica, sans-serif;
  background-color: #F5F6F7;;
  width: 100%;
  text-align: center;
  padding-bottom: 32px;
}

@media (min-width: 768px){
  .github{
  padding-bottom: 0;
  }
}
