@import url('./__link/footer__link.css');
@import url('./__list/footer__list.css');
@import url('./__copyright/footer__copyright.css');
@import url('./__nav/footer__nav.css');
@import url('./__socmedia-links/footer__socmedia-links.css');
@import url('./__socmedia-link/footer__socmedia-link.css');
@import url('./__links/footer__links.css');

.footer {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  max-width: 1232px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 224px;
  padding: 10px 16px 22px 16px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .footer {
    flex-wrap: nowrap;
    padding: 20px 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding: 30px 0;
  }
}


