.card-list__container {
  display: grid;
  grid-gap: 8px;
  justify-content: center;
  text-align: left;
}

@media (min-width: 768px) {
  .card-list__container {
    grid-template-columns: repeat(3, minmax(224px, 1fr));
  }
}

@media (min-width: 1440px) {
  .card-list__container {
    grid-gap: 16px;
  }
}
