@import url('./__wrapper/swiper__wrapper.css');
@import url('./__slide/swiper__slide.css');
@import url('./__pagination/swiper__pagination.css');
@import url('./__pagination-bullet/swipper__pagination-bullet.css');
@import url('./__container/swiper__container.css');
@import url('./__button-prev/swiper__button-prev.css');
@import url('./__button-next/swiper__button-next.css');
@import url('./__pagination-bullet/_active/swipper__pagination-bullet_active.css');

.swiper {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-left: 16px;
}

@media (min-width: 1440px) {
  .swiper {
    margin-left: 0;
  }
  .swiper-slide-prev::after,
  .swiper-slide-active::after,
  .swiper-slide-next::after {
  background: none;
}
}
