.graph__header {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 40px 18px;
  grid-column-gap: 24px;
}

@media (min-width: 768px) {
  .graph__header {
    grid-template-columns: 10% 1fr;
    grid-template-rows: 40px 18px 28px;
    grid-column-gap: 56px;
  }
}

@media (min-width: 1440px) {
  .graph__header {
    grid-template-columns: 5% 1fr;
  }
}
