.technology__wrapper {
  max-width: 1232px;
  padding-top: 32px;
  padding-bottom: 44px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .technology__wrapper {
    padding: 40px 0;
  }
}

@media (min-width: 1000px) {
  .technology__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 53px;
    padding-bottom: 90px;
  }
}
