.analytic__title {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #1A1B22;
  padding-bottom: 16px;
}

@media (min-width: 768px){
  .analytic__title{
    font-size: 26px;
    padding-bottom: 48px;
  }
}
