.card-list__link {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #1a1b22;
  transition: opacity 0.2s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.card-list__link:hover {
  opacity: .8;
}

.card-list__link::after {
  content: "";
  background: url('../../../images/arrow.png');
  width: 8px;
  height: 13px;
  display: inline-block;
  margin-left: 8px;
}
