@import url('./__container/analytic__container.css');
@import url('./__title/analytic__title.css');

.analytic {
  font-family: "Roboto regular", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #F5F6F7;
}
